<div class="movie-list-page">
  <div class="movie-list-page__control">
    <input type="text"
           name="add new"
           placeholder="Добавить новый фильм"
           [(ngModel)]="inputNewMovie" />
    <button (click)="onAddNewChange(inputNewMovie)">Добавить фильм</button>
    <button (click)="moviesService.updateAllMoviesStatus()">Обновить онлайн статус</button>
  </div>
  <div>
    <input
      type="text"
      name="search"
      placeholder="Поиск фильма"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchChange($event)"
    />
  </div>
  <ul class="movie-list">
    <li *ngFor="let movie of moviesList$ | async; trackBy: trackById">
      <app-movie [movie]="movie"></app-movie>
    </li>
  </ul>
</div>
